src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <apikit:config name="account-billaccounts-sys-api-config" raml="account-billaccounts-sys-api.raml" consoleEnabled="false" doc:name="Router" />
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9081" doc:name="HTTP Listener Configuration" />
    <flow name="account-billaccounts-sys-api-main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/account/v1/billAccount/*" doc:name="HTTP" />
        <set-variable variableName="env" value="#[message.inboundProperties.'http.query.params'.amrnenv == empty ? 'defaultEnv': message.inboundProperties.'http.query.params'.amrnenv]" doc:name="env-var" />
        <apikit:router config-ref="account-billaccounts-sys-api-config" doc:name="APIkit Router" />
        <exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="account-billaccounts-sys-api-console">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/v1/account/billAccount/console/*" doc:name="HTTP" />
        <apikit:console config-ref="account-billaccounts-sys-api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/account/billAccounts/v1/phone/{phoneNo}:account-billaccounts-sys-api-config">
        <flow-ref name="getBillAccountsByPhoneNumber" doc:name="getBillAccountsByPhoneNumber" />
    </flow>
    <flow name="get:/account/billAccounts/v1/{billAccountNo}:account-billaccounts-sys-api-config">
        <flow-ref name="getBillAccountsByAccountNo" doc:name="getBillAccountsByAccountNo" />
    </flow>
    <flow name="get:/phone/{phoneNo}:account-billaccounts-sys-api-config">
        <set-payload value="{&#xA;  &quot;BillAccountsInfo&quot;: [&#xA;    {&#xA;      &quot;accountNumber&quot;: 12345,&#xA;      &quot;premiseNumber&quot;: 123,&#xA;      &quot;customerNumber&quot;: 123,&#xA;      &quot;addresstypeCode&quot;: &quot;A&quot;,&#xA;      &quot;addressID&quot;: 123,&#xA;      &quot;primaryPhoneID&quot;: 123,&#xA;      &quot;secondaryPhoneID&quot;: 123,&#xA;      &quot;accountStatusCode&quot;: &quot;AC&quot;,&#xA;      &quot;accountStatusDescription&quot;: &quot;Active&quot;,&#xA;      &quot;revenueClassCode&quot;: &quot;A&quot;,&#xA;      &quot;revenueClassDescription&quot;: &quot;Class Desc&quot;,&#xA;      &quot;tariffTypeCode&quot;: &quot;AA&quot;,&#xA;      &quot;tariffTypeDescription&quot;: &quot;Type Desc&quot;,&#xA;      &quot;accountTypeCode&quot;: &quot;VV&quot;,&#xA;      &quot;accountTypeDescription&quot;: &quot;Account type Desc&quot;,&#xA;      &quot;weatherGroupCode&quot;: &quot;GC&quot;,&#xA;      &quot;weatherGroupDescription&quot;: &quot;Group Desc&quot;,&#xA;      &quot;billGroup&quot;: 12,&#xA;      &quot;dateLastBilled&quot;: &quot;date&quot;,&#xA;      &quot;dateNextBilled&quot;: &quot;date&quot;,&#xA;      &quot;summarySubordinate&quot;: &quot;s&quot;,&#xA;      &quot;customerSegmentCode&quot;: &quot;S&quot;,&#xA;      &quot;customerSegmentDescription&quot;: &quot;Segment&quot;,&#xA;      &quot;accountHandlingCode&quot;: &quot;H&quot;,&#xA;      &quot;accountHandlingDescription&quot;: &quot;H Desc&quot;&#xA;    },&#xA;    {&#xA;      &quot;accountNumber&quot;: 12345,&#xA;      &quot;premiseNumber&quot;: 123,&#xA;      &quot;customerNumber&quot;: 123,&#xA;      &quot;addresstypeCode&quot;: &quot;A&quot;,&#xA;      &quot;addressID&quot;: 123,&#xA;      &quot;primaryPhoneID&quot;: 123,&#xA;      &quot;secondaryPhoneID&quot;: 123,&#xA;      &quot;accountStatusCode&quot;: &quot;AC&quot;,&#xA;      &quot;accountStatusDescription&quot;: &quot;Active&quot;,&#xA;      &quot;revenueClassCode&quot;: &quot;A&quot;,&#xA;      &quot;revenueClassDescription&quot;: &quot;Class Desc&quot;,&#xA;      &quot;tariffTypeCode&quot;: &quot;AA&quot;,&#xA;      &quot;tariffTypeDescription&quot;: &quot;Type Desc&quot;,&#xA;      &quot;accountTypeCode&quot;: &quot;VV&quot;,&#xA;      &quot;accountTypeDescription&quot;: &quot;Account type Desc&quot;,&#xA;      &quot;weatherGroupCode&quot;: &quot;GC&quot;,&#xA;      &quot;weatherGroupDescription&quot;: &quot;Group Desc&quot;,&#xA;      &quot;billGroup&quot;: 12,&#xA;      &quot;dateLastBilled&quot;: &quot;date&quot;,&#xA;      &quot;dateNextBilled&quot;: &quot;date&quot;,&#xA;      &quot;summarySubordinate&quot;: &quot;s&quot;,&#xA;      &quot;customerSegmentCode&quot;: &quot;S&quot;,&#xA;      &quot;customerSegmentDescription&quot;: &quot;Segment&quot;,&#xA;      &quot;accountHandlingCode&quot;: &quot;H&quot;,&#xA;      &quot;accountHandlingDescription&quot;: &quot;H Desc&quot;&#xA;    }&#xA;  ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/{billAccountNo}:account-billaccounts-sys-api-config">
        <set-payload value="{&#xA;  &quot;accountNumber&quot;: 12345,&#xA;  &quot;premiseNumber&quot;: 123,&#xA;  &quot;customerNumber&quot;: 123,&#xA;  &quot;addresstypeCode&quot;: &quot;A&quot;,&#xA;  &quot;addressID&quot;: 123,&#xA;  &quot;primaryPhoneID&quot;: 123,&#xA;  &quot;secondaryPhoneID&quot;: 123,&#xA;  &quot;accountStatusCode&quot;: &quot;AC&quot;,&#xA;  &quot;accountStatusDescription&quot;: &quot;Active&quot;,&#xA;  &quot;revenueClassCode&quot;: &quot;A&quot;,&#xA;  &quot;revenueClassDescription&quot;: &quot;Class Desc&quot;,&#xA;  &quot;tariffTypeCode&quot;: &quot;AA&quot;,&#xA;  &quot;tariffTypeDescription&quot;: &quot;Type Desc&quot;,&#xA;  &quot;accountTypeCode&quot;: &quot;VV&quot;,&#xA;  &quot;accountTypeDescription&quot;: &quot;Account type Desc&quot;,&#xA;  &quot;weatherGroupCode&quot;: &quot;GC&quot;,&#xA;  &quot;weatherGroupDescription&quot;: &quot;Group Desc&quot;,&#xA;  &quot;billGroup&quot;: 12,&#xA;  &quot;dateLastBilled&quot;: &quot;date&quot;,&#xA;  &quot;dateNextBilled&quot;: &quot;date&quot;,&#xA;  &quot;summarySubordinate&quot;: &quot;s&quot;,&#xA;  &quot;customerSegmentCode&quot;: &quot;S&quot;,&#xA;  &quot;customerSegmentDescription&quot;: &quot;Segment&quot;,&#xA;  &quot;accountHandlingCode&quot;: &quot;H&quot;,&#xA;  &quot;accountHandlingDescription&quot;: &quot;H Desc&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="account-billaccounts-sys-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
